/* Home */

/* Banner Promotion */
.imgBanner {
    text-align: center;
    width: 700px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 1.5em;
}

/* CategoryWrap */
.CategoryWrap {
    height: 300px;
    width: 100%;
    margin-top: 2em;
    border-radius: 15px;
    box-shadow: -0.5px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5em;

}

.categoryPilihan {
    width: 600px;
    display: inherit;
    justify-content: space-between;
}

.colCategoryPilihan {
    margin-top: 1em;
    padding: 5px;
    width: 120px;
    height: 120px;
    /* box-shadow: -0.5px 1px 3px rgba(0, 0, 0, 0.125); */
    border: 0.5px solid rgb(204, 204, 204, 0.5);
    border-radius: 5px;
    text-align: center;
}

.imgCategoryPilihan {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2px;
}

.titleCategoryPilihan {
    font-weight: bold;
    font-size: 14px;
    margin-top: -15px;
}

.subTitleCategoryPilihan {
    font-size: 14px;
    margin-top: -20px;
}

/* View List */
.ImgCard {
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.ImgCard:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.productStyle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 15px;
    margin-top: 1em;
}

.display {
    flex-wrap: wrap;
}

.CardDeck {
    display: inline-block;
    flex-wrap: wrap;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
}

.card {
    width: 17%;
    height: 300px;
    margin: 13.5px;
    border: none;
}

.bodyCard {
    padding: 10px;
}

.col {
    display: flex;
    flex-wrap: nowrap;
}

.title {
    font-weight: 600;
    font-size: 14px;
}

.price {
    color: orange;
    font-weight: 600;
    margin-top: 3px;
}