.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  width: 200px
}
.fotofooter {
 
  width: 40px;
  height:40px;
  /* object-fit: cover; */
}

.headerkanan {
  float: right;
}

#navbardrop {
  color: black;
}
